.main.row {
	padding-top: 30px;
	text-align: center;
}

.height-75 {
    height: 75%
}

.panel.white {
	background-color: white;
}

.button.timer {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-size: 5rem;
    font-family: monospace;
}
