.main.row {
	padding-top: 30px;
	text-align: center;
}

.panel.white {
	background-color: white;
}

.button.timer {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-size: 5rem;
    font-family: monospace;
    margin: 0px;
}

body {
    background-color: black;
}

.banner {
    height: 460px;
    background-image: url('banner.jpg');
}

.big-font > ul > li {
    font-size: 1.5em !important;
}
